# Build outputs
.next
out
build
dist

# Dependencies
node_modules

# Cache
.cache
.turbo

# Logs
*.log

# OS files
.DS_Store

# Environment files
.env*.local

# Other
coverage
*.min.js
*.min.css
package-lock.json
yarn.lock
pnpm-lock.yaml
